.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}
.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tittle {
  font-size: 15px;
}
.label {
  font-size: 14px;
}
.strike {
  font-size: 12px;
  color: red;
  text-decoration: line-through;
}
