.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  margin: 15px;
  flex-direction: column;
  flex: 1;
}
.nav-container {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  position: absolute;
  bottom: 0;
  padding: 15px;
}
.title {
  font-size: 13px;
  @media (min-width: 1250px) {
    font-size: 14x;
  }
}

.italic-title {
  font-size: 12px;
}
