.container {
  display: flex;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  border-color: #e6e6e6;
  background-color: #f9f9f9;
  width: 100%;
  position: relative;
  svg {
    margin: auto;
    position: absolute;
    right: 10px;
  }
  input {
    background-color: #f9f9f9;
    box-shadow: none;
    border: 0;
    border-radius: 6;
    padding: 10px;
    max-width: 100%;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }
}
